/* This is the HEADER CSS */
body {
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 32px 64px;
}

.headlink {
   font-size: 24px;
   color: #F9FAF8;
}

.topright {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

/* This is the Hero CSS */

.hero {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
    gap: 72px;
    padding: 32px 64px;
}

.herotext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 16px 0;
}

.lefthero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 12px;
    padding: 16px 8px;
}

.subtext {
    color: #E5E7EB;
}

img {
    width: 600px;
    height: auto;
}